<app-bread-crumb
  [items]=
    "[
      {text: 'Categorias', link: '/categories'},
      {text: pageTitle}
    ]"
></app-bread-crumb>

<app-page-header
  page-title="{{pageTitle}}"
  button-class="btn-light"
  button-link="/categories"
  button-text="Voltar"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>

    <div class="card-body">
      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>

        </div>

        <div class="form-group col-md-8">
          <label for="name">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages" ></app-server-error-messages>

  <button type="submit" [disabled]="submittingForm || resourceForm.invalid"
          class="submit btn btn-primary btn-lg float-right mt-3">Salvar
  </button>

</form>
