<app-bread-crumb
  [items]=
    "[
      {text: 'Categorias'}
    ]"
></app-bread-crumb>

<app-page-header
  page-title="Categorias"
  button-class="btn-success"
  button-link="new"
  button-text="Nova Categoria"
></app-page-header>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let category of resources">
            <td>
                <strong>{{category.name}}</strong><br>
                <small>{{category.description}}</small>
            </td>
            <td>
                <a [routerLink]="[category.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button (click)="deleteResource(category)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>


    </tbody>
</table>
