<app-bread-crumb
  [items]=
    "[
      {text: 'Lançamentos', link: '/entries'},
      {text: pageTitle}
    ]"
></app-bread-crumb>

<app-page-header
  page-title="{{pageTitle}}"
  button-class="btn-light"
  button-link="/entries"
  button-text="Voltar"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre o Lançamento
    </div>

    <div class="card-body">

      <div class="form-row">

        <!--type-->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" id="type" class="form-control" formControlName="type">
            <option value="expense">Despesa</option>
            <option value="revenue">Receita</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>

        </div>

        <!--name-->
        <div class="form-group col-md-5">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>

        </div>

        <!--amount-->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount"
                   formControlName="amount">
          </div>

          <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>

        </div>

        <!--date-->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar id="date"
                      formControlName="date"
                      inputStyleClass="form-control"
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      [locale]="ptBR"
                      [showButtonBar]="true"
          ></p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('date')"></app-form-field-error>

        </div>

      </div>

      <div class="form-row">

        <!--paid-->
        <div class="form-group col-md-2">
          <label>Pago</label>

          <div class="btn-group">
            <label class="btn btn-outline-info"
                   (click)="resourceForm.get('paid').setValue(true)"
                   [class.active]="resourceForm.get('paid').value == true">Pago</label>
            <label class="btn btn-outline-info"
                   (click)="resourceForm.get('paid').setValue(false)"
                   [class.active]="resourceForm.get('paid').value == false">Pendente</label>
          </div>

          <app-form-field-error [form-control]="resourceForm.get('paid')"></app-form-field-error>

        </div>

        <!--category-->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>
          <select name="categoryId" id="categoryId" class="form-control" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>

        </div>

        <!--description-->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

      </div>


    </div>

  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages" ></app-server-error-messages>

  <div class="alert alert-danger" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>


  <button type="submit" [disabled]="submittingForm || resourceForm.invalid"
          class="submit btn btn-primary btn-lg float-right mt-3">Salvar
  </button>

</form>

<pre>{{resourceForm.value | json}}</pre>
