<app-bread-crumb
  [items]=
    "[
      {text: 'Lançamentos'}
    ]"
></app-bread-crumb>

<app-page-header
  page-title="Lançamentos"
  button-class="btn-success"
  button-link="new"
  button-text="Nova Lançamento"
></app-page-header>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Lançamento</th>
            <th>Categoria</th>
            <th class="text-right">Valor R$</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let entry of resources">
            <td>
                <strong>{{entry.name}}</strong><br>
                <small class="text-success">{{entry.date}}</small><br>
                <small *ngIf="entry.description">{{entry.description}}</small>
            </td>

            <td>
              {{entry.category.name}}
            </td>

            <td class="text-right">
              <strong [class.text-success]="entry.type == 'revenue'"
                      [class.text-danger]="entry.type == 'expense'">
                {{entry.amount}}
              </strong>
              <br>
              <span class="badge badge-light">{{entry.paidText}}</span>
            </td>

            <td class="text-center">
                <a [routerLink]="[entry.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button (click)="deleteResource(entry)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>


    </tbody>
</table>
